/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@font-face {
  font-family: 'gamle_stil'; 
  src: url("/src/fonts/EnglishTowne.ttf");
}
html{
  background-color: black;
}

table{
  font-family: 'gamle_stil';
  border: groove rgb(0, 13, 53) 10px;
  padding:5%;
  margin: 0 auto;
  background-image: url('images/bg.jpg');
  background-color: #AA0000;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position:center;
  letter-spacing:0.5px;
  text-shadow: 5px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 0.1px gold;

}

@keyframes extreme {
  0%   {color: #FF0000;}
  25%  {color: #00FFC4;}
  50%  {color: #FFFFFF;}
  100% {color: #23FF00;}
  50%  {color: #FD00FF;}
  25%  {color: #002DFF;}
  }

  @keyframes glow {
    0%{
      text-shadow: 5px 1px 1px rgba(0, 0, 0, 0.6);
    }
    100% {
      text-shadow: 0 0 1vw #FFFFFF, 0 0 3vw #FFFFFF, 0 0 10vw #FFFFFF, 0 0 10vw #FFFFFF, 0 0 .4vw #FED128, .4vw .3vw .1vw #806914;
      color: #000000;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #000000, 0 0 5vw #000000, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .4vw .3vw .1vw #40340A;
      color: #806914;
    }
  }